import React from 'react'
import { bindActionCreators } from 'redux'
import { connect } from 'react-redux'

import actionCreators from 'actions'
import styles from './styles.scss'

const <%= name %> = props => {
  return (
    <<%= elm %> styles={styles.main}>
      <h1><%= name %></h1>
    </<%= elm %>>
  )
}

const mapStateToProps = (state, ownProps) => ({})

const mapDispatchToProps = dispatch => bindActionCreators(actionCreators, dispatch)

export default connect(
  mapStateToProps,
  mapDispatchToProps
)(<%= name %>)
