import React from 'react'
import { connect } from 'react-redux'

import styles from './styles.scss'

const <%= name %> = () => {
  return (
    <<%= elm %> className={styles.main}>
      <h1><%= name %></h1>
    </<%= elm %>>
  )
}

const mapStateToProps = (state, ownProps) => {
  return {}
}

export default connect(
  mapStateToProps
)(<%= name %>)
